/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-extra.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        noted {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Z  &kp Y  &kp U     &kp A  &kp Q        &kp P    &kp B  &kp M      &kp L    &kp J  &kp BSPC
&kp LEFT_SHIFT  &kp C  &kp S  &kp I     &kp E  &kp O        &kp D    &kp T  &kp N      &kp R    &kp H  &kp SQT
&kp LSHFT       &kp V  &kp X  &kp C     &kp V  &kp B        &kp W    &kp G  &kp COMMA  &kp DOT  &kp K  &kp ESC
                              &kp LGUI  &mo 0  &kp SPACE    &kp RET  &mo 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL       &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PRCNT    &kp EXCLAMATION  &kp LESS_THAN         &kp GREATER_THAN       &kp EQUAL         &kp AMPERSAND  &kp AT
&none  &kp BACKSLASH  &kp SLASH       &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp STAR     &kp QUESTION     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp COLON      &none
&none  &kp HASH       &kp DOLLAR      &kp PIPE          &kp TILDE          &kp GRAVE    &kp PLUS         &kp PERCENT           &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE  &kp SEMICOLON  &none
                                      &none             &none              &none        &none            &none                 &none
            >;
        };

        number {
            bindings = <
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5     &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                          &trans   &trans   &trans     &trans  &trans  &trans
            >;
        };

        media {
            bindings = <
&trans  &trans  &trans             &trans      &trans           &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans             &trans      &trans           &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                   &trans      &trans           &trans    &trans  &trans  &trans
            >;
        };
    };
};
