/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-extra.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {

    macros {
        bt0_linux: bt0_linux {
            compatible = "zmk,behavior-macro";
            label = "BT0_LINUX";
            #binding-cells = <0>;
            bindings = <
                &bt BT_SEL 0
                &uc UC_SET_LINUX
            >;
        };

        bt1_macos: bt1_macos {
            compatible = "zmk,behavior-macro";
            label = "BT1_MACOS";
            #binding-cells = <0>;
            bindings = <
                &bt BT_SEL 1
                &uc UC_SET_LINUX
            >;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        noted {
            bindings = <
&kp TAB         &kp Z  &kp Y  &kp U         &kp A         &kp Q           &kp P          &kp B      &kp M      &kp L    &kp J  &uc UC_DE_SS
&kp LEFT_SHIFT  &kp C  &kp S  &kp I         &kp E         &kp O           &kp D          &kp T      &kp N      &kp R    &kp H  &kp RIGHT_SHIFT
&mo 2           &kp V  &kp X  &uc UC_DE_UE  &uc UC_DE_AE  &uc UC_DE_OE    &kp W          &kp G      &kp COMMA  &kp DOT  &kp K  &mo 2
                              &kp LCTRL     &kp SPACE     &kp LEFT_ALT    &kp BACKSPACE  &kp ENTER  &kp RALT
            >;
        };

        qwerty {
            bindings = <
&trans  &kp Q  &kp W  &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &kp P     &none
&trans  &kp A  &kp S  &kp D   &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &none
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &none
                      &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&none  &kp EXCL       &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp CARET    &kp EXCLAMATION  &kp LESS_THAN         &kp GREATER_THAN       &kp EQUAL         &kp AMPERSAND  &kp AT
&none  &kp BACKSLASH  &kp SLASH       &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp STAR     &kp QUESTION     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp COLON      &none
&none  &kp HASH       &kp DOLLAR      &kp PIPE          &kp TILDE          &kp GRAVE    &kp PLUS         &kp PERCENT           &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE  &kp SEMICOLON  &none
                                      &mo 3             &mo 4              &none        &none            &mo 4                 &mo 3
            >;
        };

        number {
            bindings = <
&none  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none     &none         &none
&none  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none     &kp UP_ARROW  &none
&none  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT  &kp DOWN      &kp RIGHT
                         &trans   &trans   &trans     &none         &kp NUMBER_0  &none
            >;
        };

        media {
            bindings = <
&trans  &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_STOP  &kp C_NEXT       &trans    &bt0_linux    &bt1_linux    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans  &trans          &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &trans    &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans          &trans             &trans      &trans           &trans    &trans        &trans        &trans        &trans        &trans        &trans
                                           &trans      &trans           &trans    &trans        &trans        &trans
            >;
        };
    };
};
